---
import Social from "@components/Social.astro";
import { Image } from "astro:assets";
import logo from "@assets/svg/miceandtravel_logo.svg";
import ContactsGeorgia from "./ContactsGeorgia.astro";
import ContactsAzerbaijan from "./ContactsAzerbaijan.astro";
const currentYear = new Date().getFullYear();
---

<footer class="relative w-full bg-redWine flex flex-nowrap justify-between items-center lg:px-[100px] pt-[90px] pb-4 xxs:pb-8 xxs:px-5 xxs:flex-col xxs:pt-12 sm:flex-row sm:flex-nowrap sm:gap-14 less:pt-[20px] less:flex-col less:flex-wrap less:gap-14 less:items-center">
  <div class="flex flex-col flex-nowrap">
    <a href="https://www.miceandtravel.com/"><Image
      src={logo}
      width="210"
      height="95"
      alt="mice and travel logo"
      class="mb-[50px] sm:w-[130px] lg:w-[210px] less:w-[150px] less:mb-[30px]"
    /></a>
    
    <Social />
    <div
      class="text-white text-[10px] font-normal lg:mt-[72px] flex flex-nowrap justify-center text-center xxs:absolute xxs:inset-x-0 xxs:bottom-3 xxs:mt-4 md:mb-2 lg:static less:absolute less:bottom-3 less:self-center"
    >
      Copyright &#169; 2016-{currentYear}. All rights reserved
    </div>
  </div>
  <ContactsGeorgia />
  <ul class="text-white text-xl flex flex-col flex-nowrap place-items-center gap-2 xxs:hidden lg:block less:hidden">
    <li class="uppercase">main links</li>
    <li class="flex gap-5 justify-center my-4">
      <div class="bg-accentRed w-[10px] h-[10px]"></div>
      <div class="bg-accentRed w-[10px] h-[10px]"></div>
      <div class="bg-accentRed w-[10px] h-[10px]"></div>
    </li>
    <li><a href="#">Climate</a></li>
    <li><a href="#">Fauna</a></li>
    <li><a href="#">Traditions</a></li>
    <li><a href="#">Cuisine</a></li>
    <li><a href="#">Hotels</a></li>
  </ul>
  <ContactsAzerbaijan/>
</footer>
