---
import { Image } from "astro:assets";
import mainimage from "@assets/images/mainimage.jpeg";
import name from "@assets/svg/sacartvello.svg";
import logo from "@assets/svg/miceandtravel_logo.svg";
---

<section class="relative truncate">
<div class="bg-redWine xxs:min-h-[300px] md:hidden lg:hidden"></div>
  <Image
    class="w-full max-h-[1080px] grayscale-50 md:max-h-[838px]"
    alt="georgia night view"
    src={mainimage}
  />
  <div
    class="absolute z-2 transform rotate-45 bg-customRed bg-opacity-60 xl:w-[392px] xl:h-[1004px] xl:left-[170px] xl:top-[-260px]  xxs:w-[240px] xxs:h-[210px] xxs:top-[-100px] xxs:left-[0px] xxs:bg-opacity-40 md:w-[190px] md:h-[540px] md:left-[120px] md:top-[-140px]"
  >
  </div>
  
  <div
    class="absolute bg-customRed bg-opacity-77 lg:w-[169px] lg:h-[105px] lg:top-[39px] lg:left-[135px] md:w-[169px] md-h-[105px] md:left-[400px] md:top-[200px] xxs:transform xxs:rotate-45 md:rotate-0  xxs:bg-opacity-55 xxs:top-[250px] xxs:right-[400px] xxs:hidden md:block"
  >
  </div>
  <div
    class="absolute bg-customRed bg-opacity-77 lg:w-[160px] lg:h-[160px] lg:top-[861px] lg:left-[337px] xxs:hidden md:block md:w-[28px] md:h-[28px] md:top-[380px] md:left-[300px]"
  >
  </div>
  <div
    class="absolute z-7 inset-0 bg-white bg-opacity-5 backdrop-blur-60 transform rotate-45 xl:w-[1113px] xl:h-[1113px] xl:top-[-100px] xl:left-[-560px]  xxs:w-[319px] xxs:h-[319px] xxs:top-[-160px] xxs:left-[-160px] md:w-[580px] md:h-[580px] md:top-[10px] md:left-[-210px]"
  >
  </div>
  <Image
    class="absolute lg:max-w-[870px] lg:top-[39px] lg:left-[349px] xxs:hidden md:block md:top-[0px] md:left-[77px] md:max-w-[580px]"
    alt="сакартвелло"
    src={name}
  />
  <div
    class="absolute bg-customRed bg-opacity-77 w-[58px] h-[58px] left-[135px] top-[113px] xxs:hidden xs:hidden md:hidden"
  >
  </div>
  <div
    class="absolute z-600 bg-customRed bg-opacity-77 w-[72px] h-[72px] top-[1017px] left-[309px] xxs:hidden xs:hidden md:hidden"
  >
  </div>
  <a class="absolute block w-fit z-30 lg:top-[55px] lg:left-[123px] xxs:top-[30px] xxs:right-[20px] md:top-[39px] md:left-[83px] !md:z-600" href="#">
    <Image
    class="md:max-w-[210px] xxs:max-w-[62px] xxs:max-h-[30px] sm:max-w-[124px] sm:max-h-[60px] !md:z-600 "
    alt="логотип mice and travel"
    src={logo}
  /></a>
  <!-- <div
    class="absolute bg-customRed bg-opacity-77 w-[58px] h-[58px] left-[135px] top-[113px] xxs:hidden md:block md:w-[88px] md:h-[58px] md:z-0 md:top-[30px] md:left-[150px]"
  >
  </div>
  <div
    class="absolute z-600 bg-customRed bg-opacity-77 w-[72px] h-[72px] top-[1017px] left-[309px] xxs:hidden md:block md:w-[58px] md:h-[58px] md:top-[370px] md:left-[231px]"
  >
  </div> -->
  
  
  <div
  class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 z-20 lg:max-w-[560px] lg:top-[340px] lg:left-[220px] space-y-10 xxs:space-y-4 lg:space-y-10 xxs:max-w-[318px] sm:max-w-[460px] md:max-w-[260px] md:top-[300px] md:left-[160px] xxs:top-[200px] xs:top-[200px] md:text-wrap md:place-content-start xl:top-[440px] xl:left-[300px]"
>
  <h1
    class="font-semibold normal tracking-wider text-white leading-snug xxs:text-2xl sm:text-4xl md:text-3xl lg:text-4xl xl:text-5xl xxs:text-center md:text-left"
  >
    GEORGIA - LAND OF<br>WOLVES
  </h1>
  <div class="flex flex-col flex-nowrap items-center ">
    <p
      class="text-white text-[20px] mb-[31px] xxs:text-balance xxs:text-base flex items-center justify-center w-full sm:text-xl lg:text-xl xxs:text-center xxs:w-[320px] xs:w-[400px] md:ml-[40px] lg:text-left lg:ml-0"
    >
      Georgian culture is an exotic, mysterious and ancient culture stretching
      back for millennia.
    </p>
    <ul class="flex flex-row flex-nowrap gap-5 xl:gap-6">
      <li class="bg-customRed xl:w-[36px] xl:h-[36px] xxs:w-[20px] xxs:h-[20px]"></li>
      <li class="bg-customRed xl:w-[36px] xl:h-[36px] xxs:w-[20px] xxs:h-[20px]"></li>
      <li class="bg-customRed xl:w-[36px] xl:h-[36px] xxs:w-[20px] xxs:h-[20px]"></li>
    </ul>
  </div>
</div>
</section>
