---
import { Image } from "astro:assets";
import { getCollection } from "astro:content";

const socials = await getCollection("social")


---

<ul class="flex flex-row flex-nowrap justify-between gap-12 sm:gap-4">
    {socials.map((item)=>(
        <li class="hover:scale-125 transition ease-in-out delay-150 hover:-translate-y-1 duration-200">
        <a href={item.data.url} >
           <Image  src={item.data.icon}
            width={27}
            height={27}
            alt={item.data.name}
           
          />
        </a>
      </li>
    ))}
</ul>